<div class="context-container">
  <h3>{{title}}</h3>
  {{#articleText}}
    <div class="widget">
      <h6>From this article:</h6>
      <p><em>{{text}}</em></p>
    </div>
  {{/articleText}}
  {{#quote}}
    <div class="widget">
      <a href="{{source}}" target="_blank"><h6>{{name}}</h6></a>
      <p>{{text}}</p>
    </div>  
  {{/quote}}
  {{#wikipedia}}
    <div class="widget">
      <a href={{source}}><h6>Wikipedia</h6></a>
      {{#img}}<img src="{{this}}" class="img-responsive img-thumbnail">{{/img}}
      <p>{{summary}}</p>
    </div>  
  {{/wikipedia}}
  {{#images}}
    <div class="widget">
      <h6>Images:</h6>
      {{#img}}<p><img src="{{this}}" class="img-responsive img-thumbnail"></p>{{/img}}
    </div>  
  {{/images}}
  {{#twitter}}
    <h3>{{tweet}}</h3>
    <h4>{{user}}</h4>
  {{/twitter}}
</div>
